.navbar-brand {
  display: flex;
  align-items: center;
  color: white!important;
}

.navbar {
  padding: 2px;
  color: white;
  z-index: 2;
}

.navbar-brand img {
  margin: 7px 14px;
  width: 35px !important;
}

.nav-link{
  color: white!important;
}
