@font-face {
  font-family: 'Cocomat-Regular';
  src: local('Cocomat-Regular-TTF'), url(./fonts/Cocomat-Regular-TTF.woff) format('woff');
}
@font-face {
  font-family: 'Cocomat-UltraLight';
  src: local('Cocomat-Ultralight'), url(./fonts/Cocomat-Ultralight.woff) format('woff');
}
@font-face {
  font-family: 'CocomatLight';
  src: local('CocomatLight'), url(./fonts/CocomatLight.woff) format('woff');
}

h1 {
  font-family: 'Cocomat-Regular';
  color: #ff755e;
}

body {
  font-family: 'Cocomat-Ultralight';
}

p {
  font-family: 'Cocomat-Ultralight';
  color: #555555;
}


a {
  font-family: 'Cocomat-Ultralight';
  color: #ff755e;
}

label {
  font-family: 'Cocomat-Ultralight';
  color: #373738;
}

.navbar {
  font-family: 'Cocomat-Ultralight';
  background-color: #ff755e!important;
}

.navbar-brand{
  font-family: 'Cocomat-Ultralight';
  color: #373738!important;
}

.btn-danger {
  background-color: #ff755e;
  color: #373738;
  border-color: white;
}

.btn-primary {
  background-color: #373738;
  color: white;
  border-color: white;
}

.btn-success {
  background-color: #555555;
  color: white;
  border-color: white;
}
