.logo {
  position: sticky;
  display: block;

  padding: 7px 14px;
  width: 150px !important;
}

.logoContainer {
  margin-top: 200px;
  margin-left: 50%;
}

h1 {
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}


.form-control{
  border-radius: 20px;
  background-color: #373738;
  border-color: #373738;
  color: #ffffff;
  width: 200px;
  height: 60px;
  font-size: 1.5rem;
}

.errorText{
  font-size: 1rem;
  font-family: 'Cocomat-Regular';
}

input[type="username"]:focus {
    background-color: #373738;
    color: #ffffff;
    font-size: 1.5rem;
}

input[type="password"]:focus {
    background-color: #373738;
    color: #ffffff;
    font-size: 1.5rem;
}

.btn{
  font-family: 'Cocomat-Regular';
  border-radius: 20px;
  border-color: #ffffff;
  border-width: 4px;
  width: 200px;
  background-color: transparent;
  height: 60px;
  color: #ffffff;
  font-size: 1.9rem;
  margin-bottom: 50px;
}

.btn:hover{
  font-family: 'Cocomat-Regular';
  border-radius: 20px;
  border-color: #ffffff;
  border-width: 4px;
  width: 200px;
  background-color: white;
  height: 60px;
  color: #ff755e;
  font-size: 1.9rem;
  margin-bottom: 50px;
}

.textInput::placeholder {
  color: #ffffff;
  font-size: 1.5rem;
}

.googleSignIn{
  width: 18px;
  margin-right: 8px;
}
