.logo {
  position: sticky;
  padding: 14px;
  width: 99% !important;
  flex: 1;
  width: null;
  height: null;
  resizeMode: 'contain';
}

h1 {
  color: white;
  text-align: center;
  display: block;
  position: sticky;
}


.navbar{
  visibility: hidden;
}

.form-control{
  border-radius: 20px;
  margin: 0 auto;
  background-color: #373738;
  border-color: #373738;
  width: 70%;
  color: #ffffff;
  height: 60px;
  font-size: 1.5rem;
}

input[type="text"]:focus {
    background-color: #373738;
    color: #ffffff;
    font-size: 1.5rem;
}

input[type="password"]:focus {
    background-color: #373738;
    color: #ffffff;
}

.btn{
  font-family: 'Cocomat-Regular';
  position: sticky;
  border-radius: 20px;
  border-color: #ffffff;
  border-width: 4px;
  width: 70%;
  background-color: transparent;
  height: 60px;
  font-size: 1.9rem;
  margin-bottom: 50px;
}

.textInput::placeholder {
  color: #ffffff;
  font-size: 1.5rem;
}

.googleSignIn{
  margin-left: 45%;
  margin-right: 50%;
  width: 15%;
}
