.logo {
  position: sticky;
  display: block;

  padding: 7px 14px;
  width: 18% !important;
}

h1 {
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.navbar{
}

.form-control{
  border-radius: 20px;
  background-color: #373738;
  border-color: #373738;
  color: #ffffff;
  width: 30%;
  height: 60px;
  font-size: 1.5rem;
}

input[type="text"]:focus {
    background-color: #373738;
    color: #ffffff;
    font-size: 1.5rem;
}

input[type="password"]:focus {
    background-color: #373738;
    color: #ffffff;
}

.btn{
  font-family: 'Cocomat-Regular';
  border-radius: 20px;
  border-color: #ffffff;
  border-width: 4px;
  width: 29.7%;
  background-color: transparent;
  height: 60px;
  font-size: 1.9rem;
  margin-bottom: 50px;
}

.textInput::placeholder {
  color: #ffffff;
  font-size: 1.5rem;
}

.googleSignIn{
  width: 3%;
}
